<%- include("partials/header"); -%>

    <div class="jumbotron">
        <h1 class="display-4">Welcome Inside!!</h1>

        <hr class="my-4">
        <p>Welcome to Jotter's Hub.</p>
        
    </div>


    <%- include("partials/footer"); -%>